.period-badge.trangthai-1 {
    background: #36c6d3;
    color: white;
  }
  .period-badge.trangthai-0 {
    background: #ed6b75;
    color: white;
  }
  .period-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
  }