<a class="nav-link" [routerLink]="sideNavItem?.link" (click)="expanded = !expanded"
    [ngClass]="{active: isActive, collapsed: !expanded}">
    <div class="sb-nav-link-icon" *ngIf="sideNavItem?.icon">
        <fa-icon [icon]='["fas", sideNavItem?.icon]'></fa-icon>
    </div>
    {{sideNavItem?.text}}
    <div class="sb-sidenav-collapse-arrow">
        <fa-icon class="ml-auto" *ngIf="sideNavItem?.ConfigReports" [icon]="['fas', 'angle-down']"></fa-icon>
    </div>
</a>
<!-- <nav class="sb-sidenav-menu-nested nav" *ngIf="sideNavItem?.submenu &amp;&amp; expanded">
    <sb-side-nav-item class="submenu" *ngFor="let submenuItem of sideNavItem?.submenu" [sideNavItem]="submenuItem">
    </sb-side-nav-item>
</nav> -->
<nav class="sb-sidenav-menu-nested nav"
    *ngIf="sideNavItem?.ConfigReports &amp;&amp; expanded && sideNavItem?.text==='NHẬP DỮ LIỆU'">
    <div (click)="getIdMenu(submenuItem)" *ngFor="let submenuItem of bophan">
        <sb-side-nav-item class="" *ngIf="submenuItem.trangthai =='1'" [sideNavItem]="submenuItem">
        </sb-side-nav-item>
    </div>

</nav>
<nav class="sb-sidenav-menu-nested nav"
    *ngIf="sideNavItem?.ConfigReports &amp;&amp; expanded && sideNavItem?.text==='BÁO CÁO'">
    <div (click)="getIdMenu(submenuItem)" *ngFor="let submenuItem of bophanMenu">
        <sb-side-nav-item *ngIf="submenuItem.trangthai =='1'" [sideNavItem]="submenuItem">
        </sb-side-nav-item>
    </div>
</nav>

<!-- 
<nav class="sb-sidenav-menu-nested nav"
    *ngIf="sideNavItem?.ConfigReports &amp;&amp; expanded && sideNavItem?.text==='BÁO CÁO'">
    <div class="submenuitem" (click)="index()" *ngFor="let submenuItem of bophanMenu">
        <div>
            {{submenuItem.text}}
            <div *ngIf="indexer % 2 == 0 ? true : false">
                <div class="item"  *ngFor="let item of submenuItem.ConfigReports">
            
                    <div>
                        {{item.text}}
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</nav> -->

<!-- <nav class="sb-sidenav-menu-nested nav"
    *ngIf="sideNavItem?.ConfigReports &amp;&amp; expanded && sideNavItem?.text==='BÁO CÁO'">
    <div *ngFor="let submenuItem of bophan" (click)="getIdMenu(submenuItem);getCauHinhByBoPhanID(idBoPhan);">
        <sb-side-nav-item  *ngIf="submenuItem.trangthai =='1'" [sideNavItem]="submenuItem">
                <sb-side-nav-item *ngFor="let test of Tests" (click)="getIdMenuLv2(test)" [sideNavItem]="submenuItem">
                </sb-side-nav-item> 
        </sb-side-nav-item> 
        
        

        <sb-side-nav-item *ngIf="submenuItem.trangthai =='1'" [sideNavItem]="submenuItem">
            <div *ngFor="let test of Tests" (click)="getIdMenuLv2(test)">
                <sb-side-nav-item  [sideNavItem]="test">
                </sb-side-nav-item>
            </div>
        </sb-side-nav-item>


    </div>
</nav> -->
<nav class="sb-sidenav-menu-nested nav"
    *ngIf="sideNavItem?.ConfigReports &amp;&amp; expanded && sideNavItem?.text!=='BÁO CÁO'">
    <sb-side-nav-item class="" *ngFor="let submenuItem of sideNavItem?.ConfigReports" [sideNavItem]="submenuItem">
    </sb-side-nav-item>
</nav>