<sb-layout-dashboard [static]="false">
    <div class="card">
        <p-toolbar styleClass="p-mb-0">

            <div class="p-col-8">
                <h4>Quản lý nhóm loại dữ liệu</h4>
            </div>
            <div class="p-col-4">
                <input style=" width: 300px; 
                    margin-right: 10px;
                
                    height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Nhập dữ liệu cần tìm..." />

                <button pButton pRipple label="Thêm mới" style="height: 37px" icon="pi pi-plus"
                    class="p-button-success p-mr-2" (click)="openNew()"></button>
            </div>

        </p-toolbar>
        <p-table #dt [value]="NLDLs" [rows]="10" [paginator]="true"
            [globalFilterFields]="['name','country.name','representative.name','status']"
            [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code" style="text-align-last: center;">Mã loại dữ liệu <p-sortIcon
                            field="code"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name" style="text-align-last: center;">Nhóm loại dữ liệu <p-sortIcon
                            field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="price" style="text-align-last: center;">Đường dẫn file <p-sortIcon
                            field="price"></p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-nldl>
                <tr>
                    <td style="text-align-last: center;">{{nldl.code}}</td>
                    <td style="text-align-last: center;">{{nldl.name}}</td>
                    <td style="text-align-last: center;">{{nldl.filetemplate}}</td>
                    <td style="text-align: center;">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2"
                            (click)="edit(nldl)"></button>
                        <button style="left: 10px;" (click)="delete(nldl)" pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-danger p-mr-2"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng thể có {{NLDLs ? NLDLs.length : 0 }} bản ghi.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="editDialog" [style]="{width: '830px'}" header="Nhóm loại dữ liệu" [modal]="true"
        styleClass="p-fluid;">

        <ng-template pTemplate="content">
            <div class="p-field" style="margin-bottom: 30px; margin-top: 30px;">
                <label for="name">Nhóm báo cáo</label>
                <!-- <p-dropdown [options]="BoPhans" optionValue="BoPhans.id" [(ngModel)]="nldl.bophan_id"
                    placeholder="Chọn nhóm báo cáo" optionLabel="text" [showClear]="true"></p-dropdown>&nbsp; -->
                <select [(ngModel)]="nldl.bophan_id">
                    <option [value]="bp.id" *ngFor="let bp of BoPhans">{{bp.text}}</option>
                </select>
            </div>
            <div class="p-field" style="margin-bottom: 30px;">
                <label for="name">Code</label>
                <input [(ngModel)]="nldl.code" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 73px; "
                    pInputText required autofocus />
                <label for="name" style="margin-left: 30px;">Nhóm loại dữ liệu</label>
                <input style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;" pInputText required
                    [(ngModel)]="nldl.name" autofocus />
            </div>
            <div class="p-field" style="margin-bottom: 30px; margin-top: 30px;">
                <label for="name">Chọn loại kỳ</label>
                <select [(ngModel)]="nldl.loaiky">
                    <option [value]=1>Theo tháng</option>
                    <option [value]=2>Theo quý</option>
                    <option [value]=3>Theo năm</option>
                </select>
            </div>
            <div class="col-md-6" style="margin-top: 5px; padding-right: 0px;">
                <input class="form-control" type="file" #fileInput /><br>
            </div>
            <!-- <div class="p-field">
                <label for="name">Chọn file mẫu để upload</label>
                <input class="fileinput-filename" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 61px; " pInputText id="Id" required
                    autofocus />
                <label for="name" style="margin-left: 30px;">Loại kỳ</label>
                <p-dropdown [options]="NLDL" optionValue="id" [(ngModel)]="selectedCity1"
                    placeholder="Chọn loại dữ liệu upload" optionLabel="name" [showClear]="true"></p-dropdown>&nbsp; 

            </div> -->


        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>

        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    <p-toast></p-toast>
    <p-toast position="bottom-right" key="br"></p-toast>
</sb-layout-dashboard>