<sb-layout-dashboard [static]="false">
    <p-toast></p-toast>
    <p-toast position="bottom-right" key="br"></p-toast>
    <div class="card">
        
            <p-toolbar styleClass="p-mb-0">
                    <div class="p-col-8">
                        <h4>Danh sách người dùng </h4>
                    </div>
                    <div class="p-col-4">
                        <input style=" width: 300px; 
                            margin-right: 10px;              
                            height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            [(ngModel)]="searchValue" placeholder="Nhập dữ liệu cần tìm..." />
                      
                        <div style="float: right;" >
                            <div>
                                <!-- [disabled]="roleName.length==0||role_name !== 'Manage user'" -->
                                <button  pButton pRipple
                                label="Thêm mới" style="height: 37px" icon="pi pi-plus" class="p-button-success p-mr-2"
                                (click)="openNew()"></button>
                            </div>     
                        </div>
                    </div>
                </p-toolbar>
        <p-table #dt [value]="User" [value]="BoPhan" [rows]="10" [paginator]="true" styleClass="p-datatable-gridlines"
            [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedusers"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="Email" style="text-align-last: center;">Email <p-sortIcon field="Email">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="FullName" style="text-align-last: center;">Họ và tên <p-sortIcon
                            field="FullName">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="Mobile" style="text-align-last: center;">Số điện thoại <p-sortIcon
                            field="Mobile"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Title" style="text-align-last: center;">Bộ phận <p-sortIcon field="Title">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="Status" style="text-align-last: center;">Trạng thái <p-sortIcon field="Status">
                        </p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user searchFilter:searchValue>
                <tr>

                    <td style="text-align-last: center;">{{user.email}}</td>
                    <td style="text-align-last: center;">{{user.ten}}</td>
                    <td style="text-align-last: center;">{{user.sdt}}</td>
                    <td style="text-align-last: center;">{{user.User_BoPhans[0].BoPhan.text}}</td>
                    <td style="text-align-last: center;"><span
                            [class]="'user-badge trangthai-' + user.trangthai">{{user.trangthai?"Active":"InActive"}}</span>
                    </td>
                    <td style="text-align: center;">
                        <div>
                            <!-- <div *ngFor="let role_name of roleName"> -->
                            <!-- <div *ngIf="role_name === 'Manage user'||role_name === 'Manage all'"> -->
                            <button pButton pRipple icon="pi pi-eye" title="Sửa người dùng" class="p-button-rounded p-button-success p-mr-2"
                                (click)="edit(user);getAllBoPhan()">
                            </button>
                            <button  style="left: 10px;"
                            pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" title="Phân quyền người sử dụng theo nhóm Filter báo cáo BI"
                            (click)="edit2(user);getAllBoPhan()">
                        </button>
                            <!-- </div> -->

                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng cộng có {{User ? User.length : 0 }} người dùng.
                </div>
            </ng-template>
        </p-table>
    </div>

 
    <p-dialog [(visible)]="EditDialog" [style]="{width: '1000px'}" header="Chi tiết người dùng" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
                <div class="row" style="margin-bottom: 25px;">

                        <!-- <div class="row"> -->
                                <div class="col-md-2">
                                    <label for="name">Trạng thái</label>
                                </div>
                                <div class="col-md-4">
                                    <select style="      margin-left: 0px;
                                    width: 301px;
                                    height: 30px;" [(ngModel)]="user.trangthai">
                                        <option [value]=1>
                                            Active
                                        </option>
                                        <option [value]=0>
                                            InActive
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="name">Họ tên</label>
                                </div>
                
                                <div class="col-md-4">
                                    <input style="width: 100%;" type="text" pInputText id="ten" [(ngModel)]="user.ten" required
                                        autofocus />
                                    <small class="p-error" *ngIf="submitted && !user.FullName">Name is required.</small>
                                </div>

                            <!-- </div> -->
                            <!-- <div class="row" style="margin-bottom: 25px;"> -->
                              
                                <div class="col-md-2">
                                    <label for="name">UserName</label>
                                </div>
                                <div class="col-md-4">
                                    <input style="width: 100%;" type="text" pInputText id="tendangnhap" [(ngModel)]="user.tendangnhap"
                                        required autofocus />
                                    <small class="p-error" *ngIf="submitted && !user.UserName">Name is required.</small>
                                </div>
                                <div class="col-md-2"> <label for="name">Email</label></div>
                                <div class="col-md-4">
                                    <input style="width: 100%;" type="text" pInputText id="email" [(ngModel)]="user.email" required
                                        autofocus />
                                    <small class="p-error" *ngIf="submitted && !user.Email">Name is required.</small>
                                </div>
                            <!-- </div> -->
                            <!-- <div class="row" style="margin-bottom: 25px;"> -->
                                
                                <div class="col-md-2">
                                    <label for="name">Số điện thoại</label>
                                </div>
                                <div class="col-md-4">
                                    <input style="width: 100%;" type="text" pInputText id="sdt" [(ngModel)]="user.sdt" required
                                        autofocus />
                                    <small class="p-error" *ngIf="submitted && !user.Mobile">Name is required.</small>
                
                                </div>
                                <div class="col-md-2">
                                        <label for="name">Mật khẩu</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input style="width: 100%;" type="text" pInputText id="matkhau" [(ngModel)]="user.matkhau" required
                                            autofocus />
                                        <small class="p-error" *ngIf="submitted && !user.PassWord">Name is required.</small>
                        
                                    </div>
                            <!-- </div> -->
                          
                            
                                
                </div>
                
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-md-6">             
                 <div class="row">                       
                        <h6>Thuộc nhóm người sử dụng</h6>
                  </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row" *ngFor="let nhomNSD of NhomNSD">
                                <input style="    margin-top: 8px;
                                margin-right: 10px;" type="checkbox" name="{{nhomNSD.id}}" [value]="nhomNSD.id"
                                    (change)="getNhomNSDId($event,nhomNSD.id)" /> {{nhomNSD.ten}}
                            </div>
                        </div>
                    </div>
            </div>

        <datalist slot="nhomNSD.ten" ></datalist>
            <div class="col-md-6">
                <div class="row">
                        <h6>Nhóm nghiệp vụ (Bộ phận)</h6>
                </div>
                    <div class="row">
                            <div class="col-md-10">
                                <div class="row" *ngFor="let boPhan of BoPhan">
                                    <input style="    margin-top: 8px;
                                    margin-right: 10px;" type="checkbox" name="{{boPhan.id}}" [value]="boPhan.id"
                                        (change)="getBoPhanId($event,boPhan.id)" />{{boPhan.text}}
                                </div>
                            </div>
                        </div>
            </div>
        </div>
         </ng-template>
   <!-- ---------------------------- -->
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>

        </ng-template>
    </p-dialog>

   <!-- dialog 2 -->
   <p-dialog [(visible)]="EditDialog2" [style]="{width: '1100px'}" header="Phân quyền người sử dụng theo nhóm Filter báo cáo BI" [modal]="true"
   styleClass="p-fluid">

   <ng-template pTemplate="content">
       <div class="row">
           <div class="col-md-4" style="    padding-left: 15px;
           padding-right: 15px;">
            
               <div class="row" style="background-color: #82a8cc; margin-left: 0px; margin-right: 0px;">
                     <label><h6>Khu vực</h6></label>
             </div>
           <div class="container border">
                  
               <div class="row" *ngFor="let kv of KhuVucs">
                   <input style="    margin-top: 8px;
                   margin-right: 10px;" type="checkbox"  [value]="kv.Id"
                        />{{kv.ten}}
               </div>
           </div>

           </div>
           <div class="col-md-4" style="    padding-left: 15px;
           padding-right: 15px;">
           
               <div class="row" style="background-color: #82a8cc; margin-left: 0px; margin-right: 0px;">
                     <label><h6>Tỉnh thành</h6></label>
             </div>
           <div class="container border" >
           
               <div class="row" *ngFor="let tinhthanh of TinhThanhs">
                   <input style="    margin-top: 8px;
                   margin-right: 10px;" type="checkbox" [value]="tinhthanh.id"
                        />{{tinhthanh.ten}}
               </div>
           </div>

           </div>
           <div  class="col-md-4" style="    padding-left: 15px;
           padding-right: 15px;">
             
               <div class="row" style="background-color: #82a8cc; margin-left: 0px; margin-right: 0px;">
                     <label><h6>Đại lý</h6></label>
             </div>
           <div class="container border" id="a">
                 
               <div class="row" *ngFor="let dl of DaiLys">
                   <input style="    margin-top: 8px;
                   margin-right: 10px;" type="checkbox" [value]="dl.id"
                       />{{dl.ten}} 
               </div>
           </div>

           </div>
       </div>
       <div class="row" style="margin-top:30px">
               <div class="col-md-4" style="    padding-left: 15px;
               padding-right: 15px;">
                 <div class="row" style="background-color: #82a8cc; margin-left: 0px; margin-right: 0px;">
                       <label><h6>Model</h6></label>
               </div>
               <div class="container border">
                     
                   <div class="row" *ngFor="let sp of SanPhams">
                       <input style="    margin-top: 8px;
                       margin-right: 10px;" type="checkbox" [value]="sp.id"
                          />{{sp.id}
                   </div>
               </div>
   
               </div>
               <div class="col-md-4" style="    padding-left: 15px;
               padding-right: 15px;">
            
                   <div class="row" style="background-color: #82a8cc; margin-left: 0px; margin-right: 0px;">
                         <label><h6>Màu sắc</h6></label>
                 </div>
               <div class="container border">
                   
                   <div class="row" *ngFor="let mausac of MauSacs">
                       <input style="    margin-top: 8px;
                       margin-right: 10px;" type="checkbox"[value]="mausac.id"
                            />{{mausac.ten}}
                   </div>
               </div>
   
               </div>
           
           </div>

   </ng-template>

   <ng-template pTemplate="footer">
           <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
               (click)="hideDialog2()"></button>
           <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save2()"></button>

       </ng-template>

   </p-dialog>
<!-- dialog 2 -->

    <p-confirmDialog [style]="{width: '750px'}"></p-confirmDialog>
</sb-layout-dashboard>