<sb-layout-dashboard [static]="false">
    <div class="card">
        <p-toolbar styleClass="p-mb-0">

            <div class="p-col-8">
                <h4>Quản lý bộ phận (nhóm nghiệp vụ)</h4>
            </div>
            <div class="p-col-4">
                <input style=" width: 300px; 
                    margin-right: 10px;
                
                    height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Nhập dữ liệu cần tìm..." />

                <button pButton pRipple label="Thêm mới" style="height: 37px" icon="pi pi-plus"
                    class="p-button-success p-mr-2" (click)="openNew()"></button>
            </div>

        </p-toolbar>
        <p-table #dt [value]="BoPhans" [rows]="10" [paginator]="true"
            [globalFilterFields]="['name','country.name','representative.name','status']"
            [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code" style="text-align-last: center;">Mã bộ phận <p-sortIcon field="code">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="text" style="text-align-last: center;">Tên bộ phận <p-sortIcon field="text">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="ghichu" style="text-align-last: center;">Ghi chú <p-sortIcon field="ghichu">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="trangthai" style="text-align-last: center;">Trạng thái<p-sortIcon field="trangthai">
                        </p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bp>
                <tr>
                    <td style="text-align-last: center;">{{bp.code}}</td>
                    <td style="text-align-last: center;">{{bp.text}}</td>
                    <td style="text-align-last: center;">{{bp.ghichu}}</td>
                    <td style="text-align-last: center;"><span
                        [class]="'bp-badge trangthai-' + bp.trangthai">{{bp.trangthai?
                        "Active":"InActive"}}</span></td>
                    <td style="text-align: center;">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2"
                            (click)="edit(bp)"></button>
                        <button style="left: 10px;" (click)="delete(bp)" pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-danger p-mr-2"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng thể có {{BoPhans ? BoPhans.length : 0 }} bản ghi.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="editDialog" [style]="{width: '830px'}" header="Bộ phận (nhóm nghiệp vụ)" [modal]="true"
        styleClass="p-fluid;">

        <ng-template pTemplate="content">
            <div class="p-field" style="margin-bottom: 30px; margin-top: 30px;">
                <label for="name">CODE</label>
                <input [(ngModel)]="bophan.code" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 73px; "
                    pInputText required autofocus />
            </div>
            <div class="p-field" style="margin-bottom: 30px;">
                <label for="name">Tên</label>
                <input [(ngModel)]="bophan.text" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 73px; "
                    pInputText required autofocus />
                <label for="name" style="margin-left: 30px;">Ghi chú</label>
                <input style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;" pInputText required
                    [(ngModel)]="bophan.ghichu" autofocus />
            </div>
            <div class="p-field" style="margin-bottom: 30px;">
                <label for="name">Thứ tự sắp xếp</label>
                <input [(ngModel)]="bophan.stt" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 73px; "
                    pInputText required autofocus />
                    <label for="Status">Trạng thái</label>
                    <select style="WIDTH: 248PX; border-bottom-width: 1px; float: right;"
                        [(ngModel)]="bophan.trangthai" required autofocus>
                        <option [value]="1">
                            Active
                        </option>
                        <option [value]="0">
                            InActive
                        </option>
                    </select>
            </div>
            <!-- <div class="p-field">
                <label for="name">Chọn file mẫu để upload</label>
                <input class="fileinput-filename" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 61px; " pInputText id="Id" required
                    autofocus />
                <label for="name" style="margin-left: 30px;">Loại kỳ</label>
                <p-dropdown [options]="NLDL" optionValue="id" [(ngModel)]="selectedCity1"
                    placeholder="Chọn loại dữ liệu upload" optionLabel="name" [showClear]="true"></p-dropdown>&nbsp; 

            </div> -->


        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>

        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    <p-toast></p-toast>
    <p-toast position="bottom-right" key="br"></p-toast>
</sb-layout-dashboard>