<sb-layout-dashboard [static]="true">
    <p-toast></p-toast>
    <p-toast position="bottom-right" key="br"></p-toast>
    <div class="card">
        <p-toolbar styleClass="p-mb-0">
            <div class="p-col-8">
                <h4>Nhóm người sử dụng </h4>
            </div>
            <div class="p-col-4">
                <input style=" width: 300px; 
                    margin-right: 10px;              
                    height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    [(ngModel)]="searchValue" placeholder="Nhập dữ liệu cần tìm..." />
              
                <div style="float: right;" >
                    <div>
                        <!-- [disabled]="roleName.length==0||role_name !== 'Manage user'" -->
                        <button  pButton pRipple
                        label="Thêm mới" style="height: 37px" icon="pi pi-plus" class="p-button-success p-mr-2"
                        (click)="openNew()"></button>
                    </div>     
                </div>
            </div>
        </p-toolbar>
        <p-table
        #dt
        [value]="NhomNSD"
        [rows]="10"
        [paginator]="true"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [(selection)]="selectedProducts"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true" >
        <ng-template pTemplate="header">
            <tr>
                <!-- <th pSortableColumn="Code" style="text-align-last: center">
                    Mã nhóm người sử dụng <p-sortIcon field="Id"> </p-sortIcon>
                </th> -->
                
                <th pSortableColumn="Name" style="text-align-last: center">
                   Nhóm người sử dụng<p-sortIcon field="Name"> </p-sortIcon>
                </th>
                <th pSortableColumn="SoNguoi" style="text-align-last: center">
                    Số người sử dụng <p-sortIcon field="SoNguoi"></p-sortIcon>
                </th>
                <th style="text-align-last: center">Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nhomNSD>
            <tr>
                <!-- <td style="text-align-last: center">{{ nhomNSD.id }}</td> -->
                <td style="text-align-last: center">{{ nhomNSD.ten }}</td>
                <td style="text-align-last: center">{{ nhomNSD.SoNguoi }}</td>
              
                <td style="text-align: center">
                    <!-- <button (click)="edit(role)" pButton pRipple icon="pi pi-eye"
                        class="p-button-rounded p-button-success p-mr-2"></button>
                    <button style="left: 10px;" (click)="delete(role)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-mr-2"></button>
                   -->
                    <div>
                        <div>
                            <!-- [disabled]="role_name === ''||role_name !== 'Manage user'||role_name === 'Manage master data'" -->
                            <button
                                pButton
                                pRipple
                                icon="pi pi-eye"
                                class="p-button-rounded p-button-success p-mr-2"
                                (click)="edit(nhomNSD)"
                            ></button>
                            <button
                                style="left: 10px"
                                (click)="delete(nhomNSD)"
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-danger p-mr-2"
                            ></button>
                        </div>
                    </div>
                </td>
  
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tổng cộng có {{ NhomNSD ? NhomNSD.length : 0 }} nhóm.
            </div>
        </ng-template>
    </p-table>
    </div>
  
    <!-- --------------------dialog -->
    <p-dialog [(visible)]="EditDialog" [style]="{width: '900px' }" id="jjjj" header="Phân quyền" [modal]="true"
        styleClass="p-fluid" >
        <ng-template pTemplate="content">
  
            <div class="row" style="margin-bottom: 25px;"> 
          
          <div class="col-md-5">
              <div class="row" style="    margin-bottom: 10px;">
                      <h6>Thông tin chung</h6>
              </div>
              <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-5">
                              <label for="name">Mã nhóm NSD</label>
                          </div>          
                       <div class="col-md-7" >
                           <input style="width: 170px;"type="text" pInputText id="id" [(ngModel)]="nhomNSD.id" required
                               autofocus />
                           <small class="p-error" *ngIf="submitted && !nhomNSD.id">Name is required.</small>
                       </div>
                       
              </div>
              <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-5">
                              <label for="name">Tên nhóm NSD</label>
                          </div>          
                       <div class="col-md-7">
                           <input style="width: 170px;" type="text" pInputText id="ten" [(ngModel)]="nhomNSD.ten" required 
                               autofocus />
                           <small class="p-error" *ngIf="submitted && !user.FullName">Name is required.</small>
                       </div>
                       
              </div>
              <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-5">
                              <label for="name">Trạng thái</label>
                          </div>          
                       <div class="col-md-7">
                          <select 
                              style="
                              margin-left: 0px;
                              width: 170px;
                              height: 29px;" 
                              id="trangthai" 
                              [(ngModel)]="nhomNSD.trangthai">
                          <option [value]="1">
                                  Active
                          </option>
                          <option [value]="0">
                                  InActive
                          </option>
                          </select>
                       </div>
                       
              </div>
          </div>
          <div class="col-md-7"> 
                  <div class="row" style="    margin-bottom: 10px;">
                          <h6>Phân quyền chức năng</h6>
                  </div>
                  <div class="row" >
                          <!-- <p-tree [value]="role.Id" selectionMode="checkbox" (change)="getRoleId($event,role.Id)" [(selection)]="role"></p-tree> -->
                          <p-tree [value]="file0" selectionMode="checkbox" ></p-tree>       
                  </div>            
          </div>        
          </div>
              
  
        </ng-template>
  
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  
        </ng-template>
    </p-dialog>
  
    <!-- -------------------------------------dialog -->
    <p-confirmDialog [style]="{width: '750px'}"></p-confirmDialog>
  </sb-layout-dashboard>