<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <img style="height: 40px; width: 169px;"
     src="https://thachban.com.vn/wp-content/uploads/2020/02/logohomei.png">
    <a class="navbar-brand" routerLink="/dashboard">
    
    </a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" data-cy="topNavToggleSideNav" (click)="toggleSideNav()"><fa-icon [icon]='["fas", "bars"]'></fa-icon></button
    ><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
       
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <sb-top-nav-user></sb-top-nav-user>
    </ul>
</nav>
